In [ ]:
# Import dependencies
import pandas as pd
import numpy as np

In [ ]:
path = 'yelp_csv/yelp_csv_v2.csv'

restaurants0_df = pd.read_csv(path)

restaurants0_df.head()

In [ ]:
restaurants1_df = restaurants0_df.drop(columns=['Unnamed: 0'])
restaurants1_df

In [ ]:

len(restaurants1_df['restaurant_id'].unique())

In [ ]:
# Remove duplicate rows
restaurants2_df = pd.DataFrame(restaurants1_df).drop_duplicates(keep='last',subset='restaurant_id')

In [ ]:
restaurants2_df.count()

In [ ]:
# Check how many zip codes in original datafram
restaurants2_df['zip code'].value_counts()

In [ ]:
# List of Chicago zip codes comes from https://zipcode.org/city/IL/CHICAGO
chi_zips = ['60701','60696','60693','60691','60690','60685','60684','60699',
            '60697','60695','60694','60689','60688','60687','60686','60682',
            '60681','60680','60678','60675','60674','60670','60669','60677',
            '60673','60668','60666','60659','60657','60655','60654','60651',
            '60649','60645','60644','60640','60639','60664','60661','60660',
            '60656','60653','60652','60647','60646','60643','60642','60641',
            '60638','60634','60633','60631','60637','60636','60632','60630',
            '60629','60626','60625','60621','60620','60617','60616','60613',
            '60612','60609','60628','60624','60623','60622','60619','60618',
            '60615','60614','60611','60610','60608','60607','60606','60605',
            '60604','60603','60602','60601','60290']

In [ ]:
# Remove restaurants not in a Chicago zip code
restaurants3_df = pd.DataFrame(restaurants2_df.loc[restaurants2_df['zip code'].isin(chi_zips),:])

In [ ]:
# Check the count of non-missing values per column
restaurants3_df.count()

In [ ]:
len(restaurants3_df['restaurant_id'].unique())

In [ ]:
restaurants3_df.reset_index(drop=True,inplace=True)
restaurants3_df.head()

In [ ]:
restaurants3_df.dtypes

In [ ]:
restaurants3_df['price_integer'] = np.nan
restaurants3_df.loc[restaurants3_df['price'] == "$", 'price_integer'] = 1
restaurants3_df.loc[restaurants3_df['price'] == "$$", 'price_integer'] = 2
restaurants3_df.loc[restaurants3_df['price'] == "$$$", 'price_integer'] = 3
restaurants3_df.loc[restaurants3_df['price'] == "$$$$", 'price_integer'] = 4

In [ ]:
restaurants3_df.head()

In [ ]:
restaurants3_df['rating'].value_counts()

In [ ]:
restaurants3_df.to_csv('yelp_csv/yelp_csv_CLEAN.csv')